<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>Logged in as "request.form['username']"</head>
   <br>

      <table>

            <thead>
            <td>log_time</td>
            </thead>

            {% for row in test %}
            <tr>
                <td>{{ row }}</td>

            </tr>
            {% endfor %}
      </>

    <body style="background-color:powderblue;">
   <font face='verdana'>

   <p><a href = "https://stackoverflow.com/questions/tagged/java?sort=frequent&pageSize=15" target="_blank/">here</a> to go to stack overflow.
       </a></p><p>


    <p><a href = "/logout">Logout</a>
       </a></p></br><p>
        </font>


   </body>
</html>

